<footer>
    <div class="footer">
        <div class="footer-top">
            <div class="footer-top-left">
                <div class="footer-items">
                    <ul>
                        <div class="footer-lable">
                            <label>Dịch vụ</label>
                        </div>
                        <li><a href="#">Addons</a></li>
                        <li><a href="#">Tài khoản Opera</a></li>
                        <li><a href="#">Hình nền</a></li>
                        <li><a href="#">Opera Ads</a></li>
                    </ul>
                </div>
                <div class="footer-items">
                    <ul>
                        <div class="footer-lable">
                            <label>Trợ giúp</label>
                        </div>
                        <li><a href="#">Trợ giúp & hỗ trợ</a></li>
                        <li><a href="#">Blog Opera</a></li>
                        <li><a href="#">Diễn đàn Opera</a></li>
                        <li><a href="#">Dev.Opera</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="footer-items">
                    <ul>
                        <div class="footer-lable">
                            <label>Pháp lý</label>
                        </div>
                        <li><a href="#">Bảo mật</a></li>
                        <li><a href="#">Quyền riêng tư</a></li>
                        <li><a href="#">Cookies policy</a></li>
                        <li><a href="#">EULA</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="footer-items">
                    <ul>
                        <div class="footer-lable">
                            <label>Công ty</label>
                        </div>
                        <li><a href="#">Giới thiệu về Opera</a></li>
                        <li><a href="#">Thông tin báo chí</a></li>
                        <li><a href="#">Việc làm</a></li>
                        <li><a href="#">Nhà đầu tư</a></li>
                        <li><a href="#">Trở thành đối tác</a></li>
                        <li><a href="#">Liên hệ với chúng tôi</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-top-right">
                <div class="footer-top-right-content">
                    <img src="https://cdn-production-opera-website.operacdn.com/staticfiles/assets/images/logo/logo-and-name-negative.51c8dfe30ee2.png"
                        alt="">
                    <p>Innovate and inspire, uncover the unexpected, support open standards.</p>
                    <!-- <hr> -->
                    <div class="footer-small">
                        <small>Liên hệ với chúng tôi:
                            gx-media@opera.com
                        </small>

                    </div>
                    <!-- <div class="footer-icon">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="footer-bottom-body">
                <div class="footer-bottom-left">
                    <p>© 1995-2022 Opera Norway</p>
                    <p>All rights reserved</p>
                </div>
                <div class="footer-bottom-right">
                    <small>Language:</small>
                    <select name="" id="">
                        <option value="Tiếng Anh">English</option>
                        <option value="Tiếng Thái Lan">ภาษาไทย</option>
                        <option value="">Deutsch</option>
                        <option value="Tây Ban Nha">Español</option>
                        <option value="Tây Ban Nha Anh Mỹ">Español Latinoaméricc</option>
                        <option value="Tiếng Pháp">Français</option>
                        <option value="Tiếng Indo">Bahasa Indonesia </option>
                        <option value="Tiếng Ý">Italiano</option>
                        <option value="Japan">日本語</option>
                        <option value="Korea">한국어</option>
                        <option value="Tiếng Na Uy">Norsk</option>
                        <option value="Tiếng Ba Lan">Polski</option>
                        <option value="portuguê">Portuguê </option>
                        <option value="Português brasileiro">Português brasileiro</option>
                        <option value="">Pусский</option>
                        <option value="">Türkçe</option>
                        <option value="ykpaïHcbka">ykpaïHcbka</option>
                        <option value="Tiếng Việt">Tiếng Việt</option>
                        <option value="Tiếng Trung Quốc"> 中国人</option>


                    </select>
                </div>
            </div>
        </div>
    </div>
</footer>