<mat-accordion *ngFor="let club of clubs" class="example-headers-align" multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{club.name}}
            </mat-panel-title>
            <mat-panel-description>
                <img src="{{club.logo}}" style="width: 25px; height: 25px;" alt="">
            </mat-panel-description>
        </mat-expansion-panel-header>
        <img src="{{club.img}}">
        >
    </mat-expansion-panel>
</mat-accordion>